html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Courier New',
        Courier, monospace;
    font-size: clamp(1rem, -1.8939rem + 16.0772vw, 1rem);
    color: #333;
    overflow-x: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* container */
.container {
    width: 100%;
    max-width: 100%;

}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../assets/wallpaper.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 100px;
}

.intro_title {
    margin-top: -200px;
    color: #fff;
    font-size: clamp(1rem, -1.8939rem + 16.0772vw, 5rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}


.intro_subtitle {
    color: #fff;
    font-size: clamp(1rem, -1.8939rem + 16.0772vw, 1rem);
    font-weight: 700;
    text-transform: none;
    text-align: center;
}

.intro_subtitle:after {
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    margin: 60px auto -70px;
    background-color: #fff;
}

.intro_inner {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_product_button {
    font-size: clamp(1rem, -1.8939rem + 16.0772vw, 1rem);
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 10px;
}

.intro_product_button:hover {
    background-color: #fff;
    color: #333
}

/* Header */
.header {
    background-color: rgb(24, 23, 23);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

}


.header_inner {
    float: right;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.header_logo {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

/*NavBar*/

.navbar {
    height: 30px !important;
    background-color: #1a1515;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 1);
}

.nav {
    margin-top: 15px;
    font-size: 14px;
    height: 30px;
}

.fab,
.fad,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


.nav_link {
    font-size: 15px;
    vertical-align: top;
    margin: 5px 10px;
    color: #fff;
    text-decoration: none;
}

.nav_link:hover {
    background-color: rgb(29, 25, 25);
}

/* sections */

.section {
    padding: 50px 0;
    background: #1a1515;
    min-height: 700px;
}

.section_before_font {
    color: #1a1515;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    text-align: center;
}

.section_header {
    background: #251f1f;
    min-height: 435px;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
}

.gb_title_font {
    content: url("../assets/graphbuilder_icon.png");
    width: 40%;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 1);
    float: left;
    display: flex;
    align-items: flex-end;
    margin: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #fff;
}

.gb_subtitle_font {
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    -webkit-line-clamp: 4;

}

.gb_font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-size: clamp(1rem, -1.8939rem + 16.0772vw, 1.5rem);
    width: 100%;
    color: #fff;
    -webkit-line-clamp: 4;

}

.section_gb_title {
    background-color: #1a1515;
}

/* TextEditor */

.te_title_font {
    content: url("../assets/texteditor.png");
    width: 40%;
    box-shadow: 2px 2px 10px 1px builderrgba(0, 0, 0, 1);
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-right: 10px;
}

.te_font {
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, -1.8939rem + 16.0772vw, 1.5rem);
    width: 100%;
    color: #fff;
}


.download_button {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.windows_remark {
    color: #2b37a7;
    text-decoration: none;
}


/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(48, 47, 53);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(59, 29, 190);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 22, 133);
}

/* https://www.dropbox.com/s/z7xjz47oiq1j6o5/TextGraph_Builder_setup%20%281%29.exe?dl=1 */